*{
    padding: 0;
    margin: 0;  
}

/*----------------------------caja de hasta arriba (datos)*/
.logoMedicina{
    position:absolute;
    margin-left: 1cm;
    margin-right: 0;
    width: 100px;
    height:100px;
    margin-top: .2cm;
}

.titulo{
    background: linear-gradient(#377c8f, #4299a0 ); 
    width: 100%;
    height: 3cm;
    border-bottom: 10px black;
}

h1{
    display:inline;
    position: absolute;
    margin-top: 1cm;
    font-size: 1cm;
}


/*-----------------caja principal form------------*/
.todo{
    height: 16.3cm;
    background: linear-gradient(#58a5ab, #48a4a8, #54c1bb,#62e3d1);
}
.imagenSesion{
    margin-right: 5cm;
    width: 550px;
    height: 550px ;
    object-fit: cover;
    float:right; 
  }

  .imagenUsuario{
    
    margin-left: 6cm;
    width: 100px;
    height:100px;
    
    
}

  .cuadroInicio{
    position: absolute;
    box-sizing: border-box;
    background-color: beige;
    width: 15cm;
    height: 15cm;
    margin-left: 5cm;
    margin-top: 1cm;
    border-radius: 1cm;
    background: linear-gradient(#169f90,#168780,#176d6c,#176d6c,#16404e);
}


.cuadrosDatos{
    height: 2cm;
    padding-top: .5cm;
    padding-bottom: .5cm;
    margin-left: 3.7cm;
    margin-right: 5cm;
    
}



.cuadrosTexto{
    background: linear-gradient(#2e6877,#2d957f);
    display: block;
    margin: auto;
    margin-top: .7cm;
    margin-bottom: 1cm;
    text-align: center;
    padding: 3px;
    border-radius: .5cm ;
    border-color: aqua;
   
}

.cuadroTextoSesion{
    background: linear-gradient(#2e6877,#2d957f);
    display: block;
    margin: auto;
    margin-top: .7cm;
    margin-bottom: 1cm;
    text-align: center;
    padding-left: 2cm;
    padding-right: 1.8cm;
    border-radius: .5cm ;
    border-color: aqua;
    margin-left: 1.2cm;
}

.cuadroTextoSesion2{
    background: linear-gradient(#2e6877,#2d957f);
    display: block;
    margin: auto;
    margin-top: .7cm;
    margin-bottom: 1cm;
    text-align: center;
    padding-left: 2cm;
    padding-right: 1.8cm;
    border-radius: .5cm ;
    border-color: aqua;
    margin-left: .8cm;
    padding-top: .3cm;
    padding-bottom: .3cm;
}


input::placeholder{
    color: black;
}

.imagenesCuadros{
    width: 50px;
    height:50px ;
    border-radius:15% ;
    object-fit: cover;
    float: inline-start;
    margin-top: .1cm; 

}
/*----------------------------------footer*/

.footer{
    
    background: linear-gradient(#5ec5bf,#377c8f );
    color:#fff ;
    padding: 50px;
    text-align: center;
    }

